<ul id="favoritos-list">
  <li *ngFor="let favorito of favoritos" class="favorito-item">
    <h4>⭐{{favorito.title}}</h4>
    <p class="buttons">
        <a href="{{favorito.url}}" target="_blank" class="btn btn-ir">
            Ir
        </a>

        <a [routerLink]="['/favorito', favorito._id]" class="btn btn-ver">
            Ver
        </a>

        <a href="{{favorito.url}}" target="_blank" class="btn btn-editar">
            Editar
        </a>

        <a href="{{favorito.url}}" target="_blank" class="btn btn-eliminar">
            Eliminar
        </a>
    </p>
  </li>