body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin: 0;

}

.clearfix {
    float: none;
    clear: both;
    text-decoration: none;
    list-style: none;
}

#content {
    width: 80%;
    min-height: 500px;
    margin: 0px auto;
    margin-top: 20px;
    border: 3px solid #3d3d3d;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(144, 144, 144);
    background-color: rgb(61, 60, 58);
}

header {
    background-color: white;
    border-bottom: 5px solid #3d3d3d;
    border-radius: 4.5px 4.5px 0px 0px;
    padding: 15px;
    display: grid;    
}


header .title-sub {
    float: left;
    color: black;
    border-bottom: 2px solid #3d3d3d;
    border-top: 2px solid #3d3d3d;
    padding: 10px;
    padding-left: 75px;
    margin-block-end: 0.5%;
}

.title-sub:hover {
    cursor: pointer;
}

header h1,
header p {
    margin: 0px;
    margin-left: 15px;
    letter-spacing: 5px;
}

header p {
    font-size: 12px;
    color: rgb(144, 144, 144);
}

#logo {
    float: left;
    border-radius: 50%;
    background-color: #3d3d3d;
    margin-right: 15px;
}

header #logo {
    float: left;
    display: block;
    width: 65px;
    background-color: black;
    border-radius: 15%;
}

#favoritos-list p {
    letter-spacing: 2px;
}

.favorito-item {
    list-style: none;

}

/* Css botones ------------------*/
/* From uiverse.io */
.btn {
    position: relative;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em 1em;
    display: inline-block;
    border-radius: 1em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    margin-left: 5px;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-ir {
    background-color: #77f673;
    color: black;
}

.btn-ver {
    background-color: #f6bb77;
    color: black;
}

.btn-editar {
    background-color: #77f6f6;
    color: black;
}

.btn-eliminar {
    background-color: #f67777;
    color: black;
}

.btn-volver{
    background-color: #d9d9d9;
    color: black;
    letter-spacing: 2px;
    margin-right: 0px;
}

.btn-add-favorite{
    background-color: #f6e973;
    color: black;
    letter-spacing: 2px;
    margin-right: 0px;
    width: 145px;    
}

/* ---------------------------------- */

.favorito-box {
    background-color: #555454;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.description {
    font-size: 15px;
    color: rgb(241, 240, 240);
}

.url {
    font-size: 12px;
    color: rgb(241, 240, 240);
}

footer {
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
    color: gray;
}




@media screen and (max-width: 915px) {
    body {
        width: 100%;
    }

    #content {
        width: 80%;
    }

    header .title-sub {
        border-bottom: 50px;
        border-top: 50px;
        padding: 0px;
        padding-left: 15px;
        margin-left: 0px;
        float: none;
    }

    header #logo {
        float: right;
        width: 30px;
        margin-top: 0px;
        background-color: black;
        border-radius: 15%;
        padding-top: 0px;
    }

}

@media screen and (max-width: 530px) {
    .btn { 
        display: block;
        margin: 0 0;
        margin-top: 10px;
        text-align: center;
        margin-right: 30px;
    }

    .btn-volver{
        margin-right: 0px;
    }

    .btn-add-favorite{
        margin-right: 0px;
        width: auto;
    }
}